*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xmll
/.idea/encodings.xml
/.idea/runConfigurations.xml
/.idea/misc.xml
.DS_Store
~/build
~/captures
.externalNativeBuild

